<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.androidbull.calculator.photo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera2.full"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:name="com.androidbull.calculator.photo.vault.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


        <activity android:name=".vault.activities.NewChangePasswordActivity" />
        <activity
            android:name=".vault.activities.SettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".vault.activities.IntruderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vault.activities.ConfirmCalcActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".vault.activities.BrowserFilesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vault.activities.CalculatorActivity"
            android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.androidbull.calculator.photo.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- <meta-data -->
        <!-- android:name="io.fabric.ApiKey" -->
        <!-- android:value="0ce6f17679679c8352cf0e5ef02141b9890d837c" /> -->
        <activity
            android:name=".vault.activities.HomeActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="sensorPortrait">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <!--        <activity-->
        <!--            android:name=".image.ImageActivity"-->
        <!--            android:excludeFromRecents="true"-->
        <!--            android:screenOrientation="sensorPortrait" />-->
        <activity
            android:name=".vault.activities.images.ImagesActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".vault.activities.images.AddImageActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".vault.activities.FullScreenImageActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".vault.activities.video.VideoActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".vault.activities.audio.AudiosActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".vault.activities.files.FilesActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".vault.activities.files.AddFileActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="sensorPortrait" />
        <!--        <activity-->
        <!--            android:name=".files.FolderSelectionsActivity"-->
        <!--            android:excludeFromRecents="true"-->
        <!--            android:screenOrientation="sensorPortrait" />-->
        <activity
            android:name=".vault.activities.audio.AddAudiosActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".vault.activities.video.AddVideoActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".vault.activities.SecurityQuestionActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".vault.activities.PrivacyPolicyActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="sensorPortrait" />

    </application>

</manifest>